<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>500</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">500</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <img src="/svg/error.svg" height="200px">
        <div>
            <h5>
                Internal Server Error
            </h5>
            <a class="btn btn-primary" href="/">Go back home</a>
        </div>
    </div>
</section>
