<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Messages</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active">Messages</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row mb-2"  style="border:1pt; border-style: solid; border-radius:5px;">
            <div class="col-8">
            </div>
            <div class="col-4">
                <h3>people</h3>
            </div>
        </div>
        <div class="row-6">
        <div>
            <div class="col-8">
                <div class="direct-chat-messages">
                    <!-- /.direct-chat-msg -->
                    <!-- Message. Default to the left -->
                    <div class="direct-chat-msg">
                        <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-left">Alexander Pierce</span>
                            <span class="direct-chat-timestamp float-right">23 Jan 5:37 pm</span>
                        </div>
                    <!-- /.direct-chat-infos -->
                  <!--      <img class="direct-chat-img" src="/docs/3.1//assets/img/user1-128x128.jpg" alt="message user image"> -->
                        <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                            Working with AdminLTE on a great new app! Wanna join?
                        </div>
                         <!-- /.direct-chat-text -->
                    </div>
                    <!-- /.direct-chat-msg -->
                    <!-- Message to the right -->
                    <div class="direct-chat-msg right">
                        <div class="direct-chat-infos clearfix">
                            <span class="direct-chat-name float-right">Sarah Bullock</span>
                            <span class="direct-chat-timestamp float-left">23 Jan 6:10 pm</span>
                        </div>
                    <!-- /.direct-chat-infos -->
                    <!--      <img class="direct-chat-img" src="/docs/3.1//assets/img/user3-128x128.jpg" alt="message user image"> -->
                    <!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                            I would love to.
                        </div>
        <!-- /.direct-chat-text -->
                    </div>
      <!-- /.direct-chat-msg -->
                </div>
            </div>
            <div class="col-4">
                <h3>people</h3>
            </div>
        </div>
        </div>
    </div>
</section>
